node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.log
*.env.*

# uml
**/plantuml.jar
docs/uml/*.pdf
docs/uml/*.jpg
docs/uml/*.png

# backend code
**/__pycache__
backend/backend/**
**/.vscode

# Backend unittesting
backend/test/htmlcov/*
backend/test/.coverage
backend/.coverage

# wx test files
backend/test_backend_wx.py
backend/TestDeploy


# macOS
.DS_Store

# jest
.jest/cache

backend/backend_wx.py
backend/demo.docx
