[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
click = "*"
docutils = "*"
itsdangerous = "*"
jmespath = "*"
python-dateutil = "*"
s3transfer = "*"
six = "*"
urllib3 = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
Flask-PyMongo = "*"
Flask-Login = "*"
awscli = "*"
pillow = "*"
requests = "*"
flask-cors = "*"
dnspython = "*"
iso8601 = "*"
pytz = "*"
gunicorn = "*"
python-dotenv = "*"
pylint = "*"
python-bsonjs = "*"
gevent = "*"
exponent-server-sdk = "*"
rollbar = "*"
pandas = "*"
xlsxwriter = "*"
flask-mail = "*"
pynguin = "*"
flask-testing = "*"
faker = "*"
coverage = "*"
mongomock = "*"

[dev-packages]

[requires]
python_version = "3.9"
